{% if filter | default(false) %}
| {{ path_preline }} {{ path_procmail }} -p -m {{ path_vpopmail_domains_dir }}/{{ userdomain }}/.procmail-{{ username }}/rc.main
{% elif alias.action == "deliver" %}
{{ path_vpopmail_domains_dir }}/{{ alias.domain }}/{{ alias.user }}/Maildir/
{% elif domain.default.action == "write" %}
{{ alias.directory }}
{% elif action == "forward" %}
&{{ address }}
{% elif action == "delete" %}
| {{ path_vdelivermail }} '' delete
{% endif %}
