{% if domain.default.action == "filter" %}
| {{ qmt_preline }} {{ qmt_procmail }} -p -m /home/vpopmail/domains/{{ domain.default.host }}/.procmailrc-{{ domain.default.user }}
{% elif domain.default.action == "deliver" %}
{{ domain.default.directory }}
{% elif domain.default.action == "forward" %}
{{ domain.default.address }}
{% elif domain.default.action == "delete" %}
| {{ qmt_vdelivermail }} '' delete
{% endif %}
