{% if action == "filter" or action="filterforward" or action="filterdelete" %}
| {{ path_preline }} {{ path_procmail }} -p -m {{ path_vpopmail_domains_dir }}/{{ userdomain }}/.procmail-{{ username }}/rc.main
{% elif action == "delete" %}
| {{ path_vdelivermail }} '' delete
{% elif action == "forward" %}
&{{ address }}
{% else %}
{{ path_vpopmail_domains_dir }}/{{ userdomain }}/{{ username }}/
{% endif %}
